/* menu */
.menu {
    width: 220px; /* largura */
    background-color: var(--bg-color-secundary); /* cor de fundo */
    font-family: "Roboto", sans-serif ;
    padding: 16px 16px 80px; /* espacamento interno */
    overflow-y: auto; /* deixa ROLAvel ... lá ele kkkkk */
    scrollbar-width: none; /* tira a caralha da barra de rolagem */
    margin-bottom: 60px; /* cancela a altura do header para aparecer tudo do menu la embaixo */ 
    left: 0;
}

.menu-lista {
    list-style-type: none; /* tira a porra da bolinha da lista */
    display: flex; /* deixa flexivel, em linha */
    flex-direction: column; /* deixa flexivel, em coluna */
    gap: 10px; /* espacamento */
    
}

.menu-item {
    display: flex;
    /* justify-content: center; /* horizontal */
    align-items: center; /* vertical */
}

.menu-item img {
    width: 26px;
}

.menu-item a {
    text-decoration: none; /* tira a porra da linha do link */
    margin: 0 14px; /* espacamento interno */
    font-size: 20px; /* fonte */
    color: black; /* cor */
}

/* hover opcional */
/* .menu-item:hover {
    background-color: bisque;
    width: 100%;
    border-radius: 4px;
} */

/* menu mobile */
.menu-mobile {
    display: none;
}
/* quando o menu for aberto */
.menu-mobile.aberto {
    display: block;
    transition: left 0.3s ease;
}

/* responsividade */
@media screen and (max-width: 768px) { /* quando a largura da tela for menor que  */
    .menu { /* o menu desktop */
        display: none; /* fica oculto */
    }
}